@page "/AboutMe"

<PageTitle>CyberSurge -- About Me</PageTitle>

<h1 style="margin-top: 3vh;">About Me</h1>

<div class="blur-box" >
	<div class="flex-row">
		<div class="display-dependent">
			<img src="Images/quarklogo.png" style="width: 70%; margin: auto; margin-left: 15%;" />
		</div>
		
		<div class="inset-blur-box">
			<h2>Hello, my name is Zachary Hoover.</h2>
			<p>
				I am a high school student that specializes in software development, web development, and engineering. I have been programming for nearly 6 years and tinkering with various technologies for as long as I can remember. I have always found myself having a passion to create things, whether that be simple computer programs to automate a mundane task or complex mechanisms with many moving parts.
			</p>

			<p>
				I have learned much of my computer and technical knowledge from the wonders of the internet, I have found that I could pick up and learn a new topic in hours if i just search for the right information It is with this that I wish to apply my knowledge to add to the pile of information already contained within the internet.
			</p>

		</div>
	</div>
	<div class="flex-row" style="margin-top: 25px;">
		<div class="inset-blur-box">
			<h2>Experience</h2>
			<li> I have been sufficient in a variety of programming languages for almost 6 years. </li>
			<li> Nearly 6 Years of Python experience. </li>
			<li> 5 Years of C# experience. </li>
			<li> Nearly 4 years of Lua experience. </li>
			<li> Nearly 1 year of Web design experience using Blazor. </li>
			<li> Nearly 2 years of CAD experience using Onshape. </li>
			<li> Life Scout and Patrol leader of 5 terms (6 month elected position) in my BSA Troop. </li>
			<li> Member of FIRST robotics team for one year. </li>

		</div>
		<div class="inset-blur-box">
			<h2>Awards/Qualifications</h2>
			<li>Award of Excellence in Computer Science and Programming. </li>
			<li>Technical Award at local hackathon for project complexity (<a target="_blank" rel="noopener noreferrer" href="https://www.queencityhacks.com">Queen City Hacks</a>) </li>

		</div>
	</div>
</div>

@code {

}
