@page "/Docs"

<PageTitle>CyberSurge -- Docs</PageTitle>

<div style="align-content: center; padding-top: 20vh; margin: auto; padding-bottom: 80vh; text-align: center;">
	<h1 style="color: white; font-size: 4vw">This page is under construction!</h1>
	<p>This page will eventually contain documentation for projects, tutorials, reference pages, and much more.</p>
</div>

@code {

}
