
<Animate Animation="Animations.ZoomInUp" Duration="TimeSpan.FromSeconds(0.5)">


<div class="blur-box" style="margin-left: 5%; margin-right: 5%; text-align: center; margin-bottom: 5%;">
	<h1 style="color: white; font-size: 50px; font-weight: 600;">What is <em>CyberSurge?</em></h1>
	<p> <em>CyberSurge</em> is a tech blog focused on engineering, computer programming, and web design. The name <em>CyberSurge</em> is simply a buzz-word for my blog. </p>
	
	@*
		<p style="color: ">
		<em>Electrum</em> is not a company as it may seem.
		I operate under the name <em>Electrum</em> to establish an
		online presence, but also remain anonymous. So with that said, what do I do?
		</p>
*@		
	
	<div style="" class="content-box">

			<div class="inset-blur-box card" id="Programmer"> 
				<p>I started learning programming nearly 6 years ago. It started as a hobby but quikly grew to something much more.</p> 
				<h1>Programmer</h1> 
			</div>

				<div class="inset-blur-box card" id="WebDev">
			<p>Web development is something that I have been doing for nearly a year. I originally learned basic HTML and CSS and eventually moved onto a web framwork called Blazor.</p>
			<h1>Web Developer</h1> 
		</div>
	
			<div class="inset-blur-box card" id="Engineer">
					<p>Since my younger years, I have always had a passion to tinker with things. I often find myself anamered by microcontrollers, 3D Printing, roboticts, and other engineering ventures.</p>
				<h1>Engineer</h1> 
			</div>
				


				<div class="inset-blur-box card" id="Student"> <p>I am currently a high school student studying in a field of computer science and engineering. I aspire to be an electro-mechanical engineer.</p> <h1>Student</h1> </div>

	</div>
</div>

</Animate>

@code {

}
