<div style="margin-top: 20%;"></div>

<Animate Animation="Animations.ZoomInRight" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0.1)">
	<div class="blur-box slideleft">
		<img src="Images/python.webp" />
		<p>I started learning Python almost 6 years ago, it was my first ever
			programming language, and it did nothing less than thrust me into
			an obsession with learning more about computers, and computer science.</p>
	</div>
</Animate>

<Animate Animation="Animations.ZoomInLeft" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0.2)">
	<div class="blur-box slideright">
		
		<p>
			After learning the limitations of the Python programming language
			I set off to find a more capable and versatile language. I settled on
			learning C# because of its multi-purpose capabilities and common
			syntax.</p>
		<img src="Images/cs - Copy.webp" />
	</div>
</Animate>

<Animate Animation="Animations.ZoomInRight" Duration="TimeSpan.FromSeconds(1)" Delay="TimeSpan.FromSeconds(0.3)">
	<div class="blur-box slideleft">
		<img src="Images/html-css.webp" />
		<p>
			After becoming bored of making normal programs using common
			programming languages, i decided to shift my focus on to making
			a personal portfolio (The one your reading) for myself as a fun side project. In the creation
		  of this portfolio, I learned several aspects of HTML, and CSS.
		</p>
	</div>
</Animate>



@code {

}
