@inherits LayoutComponentBase
<PageTitle>ElectrumDev Website</PageTitle>

<div class="bg">
    <TopNav />
    <ElectrumDev_Website.Shared.Blog.SideBar />
    <div class="page" style="padding-top: 2.3%">
        <main>
            <article class="content px-4" style="margin-left: 15%;">
                @Body
            </article>
        </main>
    </div>
</div>