@inherits LayoutComponentBase

<PageTitle>ElectrumDev Website</PageTitle>

<div class="bg">
    <TopNav />
    <div class="page" style="padding-top: 2.3%">
        <main>
            <article class="content px-4" style="padding-left: 0; padding-right: 0;">
                @Body
            </article>
        </main>
    </div>
    <PageFooter />
</div>


