<footer>
	<div class="center-bin">
		<div class="flex-row">
			<div>
				<a href="https://www.buymeacoffee.com/CyberSurge" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 45px !important;width: auto; !important;"></a>
			</div>
			<div>
				<a href="https://github.com/CyberSurge-Dev"><img src="Images/Github.webp" style="height: 45px;"/></a>
			</div>
		</div>
	</div>
</footer>

@code {

}
